.buynavBar{
  background-color: #0282f9;
  color:white;
  padding: 50px 0;
}

.buynavButton{
  margin: 0 10px;
}

.buynavImg{
  height:40px;
  margin:0 10px;
}

.buynavSpan{
  text-transform: uppercase;
  color:white;
}