* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", serif;
}

a{
  color: inherit;
}

ul{
  list-style: none;
}

/* HEADER  */
.nav-link{
  font-size:0.8rem;
  font-weight: bold;
  color:black;
}

.navbar-nav .nav-item .nav-link.active {
  color: #0282f9;
  font-weight: bold;
}

header {
  padding: 5px 0;
}

/* MAIN  */
main {
  background-color: #1c1c1c;
  color:white;
  padding: 40px 0;
}

/* FOOTER  */

.top-footer{
  background-color: #0282f9;
  color:white;
  padding: 50px 0;
}

.buynav-button{
  margin: 0 10px;
}

.buynav-button img{
  height:40px;
  margin:0 10px;
}

.buynav-button span{
  text-transform: uppercase;
  color:white;
}

.mid-footer{
  background-image: url("./assets/img/footer-bg.jpg");
  color:white;
}

.mid-footer .dc-logo {
  overflow: hidden;
  background-image: url("./assets/img/dc-logo-bg.png");
  background-position:50%;
}

.mid-footer .menu-footer {
  padding:30px 0;
  max-height:500px;
}

.menu-footer h4{
  font-weight:bold;
}

.menu-footer ul{
  color:#807f7f
}

.bottom-footer{
  background-color: #303030;
  color:white;
  padding: 20px 0;
}